<h1>Bienvenue sur notre app Rails Hello</h1>
<p>Ceci est la page d'accueil by Groupe 12 RTE3 | by IC3 INFOTEL 2025</p>
<ul>
  <li><%= link_to "Page Info", pages_info_path %></li>
  <li><%= link_to "Page Plus", pages_plus_path %></li>
</ul>